.contenedormayor{    
        display: flex;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        top: 0;
        right: 0; 
            position: relative;  
           background-size: cover;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
}
.buscador{
    position: relative;
    
}
  
.cajacarta{
    background-color: #a3cfcdb0;
    width: 100%;
    position: relative; 
    display: flex;
    height: 100%;
    margin-top: 80px;
}
.carta{
    position:relative;
    background-color: coral;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 80px;
}
.cards-container{
    height: 100%;
    width: 100%;
    margin-top: 12px;
}
.carta_bar{
position: relative;
}
.cajacarta::-webkit-scrollbar,
.cajacarta::-webkit-scrollbar {
    width: 12px;
}
.cajacarta::-webkit-scrollbar-scroll,
  .cajacarta::-webkit-scrollbar-scroll {
    width: 192px;
}
.cajacarta::-webkit-scrollbar-track,
.cajacarta::-webkit-scrollbar-track {
  background:rgba(173, 0, 0, 0);
  border-radius: 0px 10px 10px 0px;
}
.cajacarta::-webkit-scrollbar-track:hover,
.cajacarta::-webkit-scrollbar-track:active,
.cajacarta::-webkit-scrollbar-track:hover,
.cajacarta::-webkit-scrollbar-track:active {
  background: #0b242332;
}

.cajacarta::-webkit-scrollbar-thumb,
.cajacarta::-webkit-scrollbar-thumb {
  background: #fd0404;
  border-radius: 0px 10px 10px 0px;
}
.cajacarta::-webkit-scrollbar-thumb:active,
.cajacarta::-webkit-scrollbar-thumb:active {
  background-color: #ff0000;
}
.cajacarta::-webkit-scrollbar-thumb:hover,
.cajacarta::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

ul,ol{
    list-style: none;
    z-index: 12;
}
.nav li button{
    background-color: teal;
    width: 90px;
    color: white;
    text-decoration: none;
    padding: 3px 15px ;
    display: block;
    z-index: 12;
}
.nav>li{
    float: left;
    z-index: 12;
}
.nav li button:hover{
    background-color: violet;
    z-index: 12;
}
.navlia{
    background-color: rgb(49, 2, 255);
    padding: 10px 15px;
    color:white;
    z-index: 12;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    z-index: 12;
}
.nav{
    position:absolute;
    margin-top: 39px;
    right: 100px;
    z-index: 12;
}
.nav li:hover > ul{
    display: block;    
    z-index: 12;
}
.nav2liLink{
    background-color: teal;
    width: 90px;
    color: white;
    text-decoration: none;
    padding: 3px 15px ;
    display: block;
    z-index: 10;
}
.nav2>li{
    float: left;
    z-index: 10;
}
.nav2 li button:hover{
    background-color: violet;
    z-index: 10;
}
.navlia{
    background-color: #00C9C8;
    padding: 10px 15px;
    user-select: none;
    color:white;
    z-index: 10;
}
.nav2 li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    z-index: 10;
}
.nav2{
    position:absolute;
    margin-top: 39px;
    right:240px;
    z-index: 10;
}
.nav2 li:hover > ul{
    display: block;    
    z-index: 10;
}
.liink{
    text-decoration: none;
}
.previous1{
    position: absolute;
    left: 0;
    z-index: 11;
    margin-left: 0.5%;
    padding: 0.1px 0.1px;
    font-size: 110%;
    background-color: rgba(0, 0, 0, 0.616);
  color: black;
  border: 2px solid #000301;
    transition-duration: 0.4s;
}
.noseve{
  display: none;
}
.previous2{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11;
    padding: 0.1px 0.1px;
    margin-left: 0.5%;
    font-size: 110%;
    background-color: rgba(0, 0, 0, 0.616);
  color: black;
  border: 2px solid #000301;
    transition-duration: 0.4s;
}
.next1{
    position: absolute;
    right: 0;
    z-index: 11;
    padding: 0.1px 0.1px;
    margin-right: 0.5%;
    font-size: 110%;
    background-color: rgba(0, 0, 0, 0.616);
  color: black;
  border: 2px solid #000301;
    transition-duration: 0.4s;
}
.next2{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 11;
    padding: 0.1px 0.1px;
    margin-right: 0.5%;
    font-size: 110%;
    background-color: rgba(0, 0, 0, 0.616);
  color: black;
  border: 2px solid #000301;
    transition-duration: 0.4s;
}
  
  .previous1:hover {
    background-color: #000000; 
    color: white;
  }
  .previous2:hover {
    background-color: #000000; 
    color: white;
  }
  .next1:hover {
    background-color: #000000; 
    color: white;
  }
  .next2:hover {
    background-color: #000000; 
    color: white;
  }
  .prueba{
      text-decoration: none;
      color: white;
  }
  .texto{
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgb(131, 131, 131);
      color: white;
      width: 100%;
      font-size: 60px;
  }
  .textodefault{
    background-color: rgb(131, 131, 131);
      color: white;
      font-size: 60px;
  }
  @media (max-width: 500px) {
    .nav{
      margin-top: 120px;
      right: 60px;
    }
    .nav2{
      margin-top: 120px;
      right: 200px;
    }
    .cajacarta{
      margin-top: 200px;
    }
}
@media (max-width: 769px) {
  .nav{
    margin-top: 120px;
    right: 60px;
  }
  .nav2{
    margin-top: 120px;
    right: 200px;
  }
  .cajabuscadori{
      margin-top: 80px;
      left: 7%;
  }
  .cajacarta{
    margin-top: 160px;
  }
}